@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root{
    --font: "Montserrat", sans-serif;
    --blue-color: #0550ff;
    --pink-color: #4d047d;
    --grey-color: #f3f3f3;
    --white-color: #fff;
    --black-color: #010101;
    --light-black-color: #717171;
    --yellow-color: #D4AF37;

    margin: 0 auto;
    padding: 0;
    text-align: center;
    max-width: 100%;
}

header{

    h1{
        color: var(--white-color)
    }
}

body {
    background-color: var(--black-color) ;

    main{
        display: grid;
        grid-template-columns: (3fr, 1fr);
        gap: 1rem;
        padding: 2rem;
        background-color: var(--black-color);

        ul{
            list-style-type: none;

            
        }
    }
}

