@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root{
    --font: "Montserrat", sans-serif;
    --blue-color: #0550ff;
    --ish-blue: #5d86e7;
    --grey-color: #f3f3f3;
    --white-color: #fff;
    --black-color: #010101;
    --light-black-color: #717171;
    --yellow-color: #D4AF37;

    margin: 0 auto;
    padding: 0;
    text-align: center;
    max-width: 100%;
}

body {
    background-color: var(--black-color) ;

    main{
        background-color: var(--black-color);

        section{
            
            color: var(--white-color)

        }

        
    }
   
}

form{

    background-color: var(--black-color);
    outline: 3px solid var(--blue-color);
}

input{
    width: 100%;
    background-color: var(--black-color);
    border: 2px solid var(--blue-color);
    color: var(--white-color);
    border-radius: 5px;

}

h2{
    color: var(--ish-blue);
}
// input: :placeholder{
//     color: var(--white-color);
// }

