@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root{
    --font: "Montserrat", sans-serif;
    --blue-color: #0550ff;
    --pink-color: #4d047d;
    --grey-color: #f3f3f3;
    --white-color: #fff;
    --black-color: #010101;
    --light-black-color: #717171;
    --yellow-color: #D4AF37;

    margin: 0 auto;
    padding: 0;
    text-align: center;
    max-width: 100%;
}

body{
    font-family: var(--font);
    margin: 0;
    padding: 0;

    header{

        h1{
            color: var(--black-color);
            font-size: 2.5rem;
        }
        nav{
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            padding: 2rem 1rem;
            background-color: var(--blue-color);

            h2{
                font-size: 2rem;
                margin: 0;
                height: fit-content;
                font-weight: 700;
                color: var(--white-color);
            }

            ul{
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                margin: 0;
                height: fit-content;
                list-style-type: none;

               
                }

                li{
                    padding: 0.4rem 1rem;
                    font-size: 1.2rem;
                    text-decoration: none;
                    height: fit-content;
                    
                    a{
                        color: var(--white-color);
                        text-decoration: none;
                        
                        svg{
                            margin: 0 0.3rem 0 0;
                        }
                    }
                }
            }
        }
    }

    main{
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
        background-color: var(--grey-color);

        #sjanger-overskrift{
            width: 100%;
        }

        h2{
            color: var(--black-color);
        }
        figcaption{
            padding-top: 15px;
            padding-left: 20px;
            padding-right: 20px;
          
          .container{
            position: relative;
          
           }

        .image{
            display: block;
            border-radius: 50%;
            margin-left: auto;
            margin-right: auto;
            box-shadow: 0px 10px 20px var(--Black);
           }
           
           
            .overlay {
              position: absolute;
              top: 0;
              bottom: 0;
              left: 0;
              right: 0;
              opacity: 0;
              transition: .5s ease;
            }
           
            .container:hover .overlay {
              opacity: 1;
            }
          
            .image_2{
              display: block;
            border-radius: 50%;
            margin-left: auto;
            margin-right: auto;
            box-shadow: 0px 10px 20px var(--Black);
            }
          }

        form {

            label{
                display: flex;
                flex-direction: column;
                padding: 5px;
            }

            button{
                padding-top: 5px;
            }
            button:disabled {
                padding-top: 5px;
            }
        }

        section {

        ul{
            list-style-type: none;
            padding: 0;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            align-items: center;

            li{
                color: var(--black-color);
                padding: 0.5rem 0;
                border-bottom: solid var(--black-color) 0.1rem;
                width: fit-content;
                margin: 0.5rem 2rem;

                svg{
                    color: var(--yellow-color);
                }
            }
        }
    }
}

    

    // form {
    //     display:

       

    // }
    

